

.cardcontainer{
    
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 700px;
    height: 525px;
    overflow-y: scroll;
}

.postscreate{
    padding-left: 36em;
    padding-top: 1em;
}



.cards{
    padding-left: 2em;
    padding-top: 1.5em;
    overflow-y: scroll;
    width:350px
}

.quescreate{
    padding-left: 37em;
    padding-top: 1em ;
}