.arrow {
     
    width: 200; 
     
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 1; 
    padding: 15px;
    
    margin-left: 10px;
    margin-right: 10px;
}

.left {
    border-radius: 200px;
    left: 0;
    border: 3px solid rgb(65, 63, 63);

}

.right {
    border-radius: 200px;
    right: 0;
    border: 3px solid rgb(65, 63, 63);
    margin-left: 10px;
}
.arrow:hover{
    background-color: rgb(43, 42, 42);
}


.arrow::before {
    display: none;
}