.shadow{
    height: 201px;
}
.bottom {
    display: flex;
    justify-content: space-around;
}
.bottom p {
    cursor: default;
    font-size: 0.9em;
}

.bottom a {
    font-size: 0.9em;
}

.bottom a:hover {
    background-color: rgba(0, 0, 0, 0.19);
}
.like{
    position: absolute;
    bottom:0px;
    display: flex;
 }
 .like li{
    display: inline-block;
    margin-right:10px;
    font-size: smaller;
 }
 .like li img{
     margin-right: 5px;
 }
 .like li p, .like li a{
     text-decoration: none;
     color: black;
 }
 .btn{
    border-width: 0px;
    background-color: transparent;
    
 }
.copy{
    display: flex; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto; 
    
    
    height: 30vh;
    position:absolute;
    border-radius: 10px;
}

.input{
    width: 700px;
    height: 50px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
.copylink{
    height: 40px;
   position: absolute;
   top: 100px;
   right: 40%;
   background-color: #379683;
   border-radius: 8px;
   border: 10px;
   font-size: 15px;
}

.copy input{
    margin-top: 50px;
    height: 20px;
    width: 100px;
}

.botton{
    border-width: 0px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 2px;
}
.copylink:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
 
.copy {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

 